@import '../../scss/mixins';

.weather {
    @include flex;

    &__box {
        width: 50%;
        min-height: 200px;
        padding: 20px;
        background-color: #ffffff;
        border-radius: 5px;
        box-shadow: 0 2px 10px rgba(0,0,0,.3);
        @include flex(column);

        h3 {
            text-align: center;
            color: #757575;
        }
    }

    &__form {
        input {
            height: 35px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            width: 200px;
            border: 1px solid rgba(0,0,0, .3);
            border-right: none;
            outline: none;
            box-sizing: border-box;
            padding: 0 10px;
        }

        button {
            height: 35px;
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
            width: 100px;
            border: 1px solid rgba(0,0,0, .3);
            background-color: #4CAF50;
            color: #ffffff;
            outline: none;
            box-sizing: border-box;
            cursor: pointer;
        }
    }
}
